
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>St Joseph-Holy Cross Reunion - Event Conference HTML Templates</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.webp">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--Custom CSS-->
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!--Plugin CSS-->
    <link href="css/plugin.css" rel="stylesheet" type="text/css">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="fonts/line-icons.css" type="text/css">
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- Preloader Ends -->

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main" style="background-image:url(images/pexels-wendy-wei-1190297.jpg);">
        <div class="breadcrumb-outer">
            <div class="container">
                <div class="breadcrumb-content text-center pt-14 pb-2">
                    <h5 class="theme mb-0">St Joseph-Holy Cross Reunion</h5>
                    <h1 class="mb-0 white">Checkout</h1>
                </div>
            </div>
        </div>
        <div class="bread-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- error section starts -->
    <section class="event-cart pt-12 pb-8">
        <div class="container">

            <div class="row">
                <div class="col-lg-7 mb-4 pe-lg-4">
                    <div class="product-table-main p-4 border-all mb-4">
                        <h6>Billing Details</h6>
                        <form>
                            <div class="row">
                                <div class="col-lg-6 mb-2">
                                    <label class="">First Name <span class="required text-danger" title="required">*</span></label>
                                    <input type="text" class="input-text bg-grey border-0" placeholder="First Name">
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <label  class="">Last Name <span class="required text-danger" title="required">*</span></label>
                                    <input type="text" class="input-text bg-grey border-0" placeholder="Last Name">
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <label class="">Company Name (optional)</label>
                                    <input type="text" class="input-text bg-grey border-0" placeholder="Company Name">
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <label class="">Country / Region <span class="required text-danger" title="required">*</span></label>
                                    <select class="bg-grey border-0">
                                        <option>Argentina</option>
                                        <option>Bangladesh</option>
                                        <option>Canada</option>
                                    </select>
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <label  class="">Street address <span class="required text-danger" title="required">*</span></label>
                                    <input type="text" class="input-text bg-grey border-0 mb-2" placeholder="House number and street name">
                                    <input type="text" class="input-text bg-grey border-0" placeholder="Apartment, suite, unit, etc. (optional)">
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <label  class="">Town / City <span class="required text-danger" title="required">*</span></label>
                                    <input type="text" class="input-text bg-grey border-0" placeholder="">
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <label  class="">State <span class="required text-danger" title="required">*</span></label>
                                    <select class="bg-grey border-0">
                                        <option>Aroke</option>
                                        <option>Bangkok</option>
                                        <option>California</option>
                                    </select>
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <label  class="">ZIP Code <span class="required text-danger" title="required">*</span></label>
                                    <input type="text" class="input-text bg-grey border-0" placeholder="">
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <label  class="">Phone  <span class="required text-danger" title="required">*</span></label>
                                    <input type="number" class="input-text bg-grey border-0" placeholder="Phone">
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <label  class="">Email Address  <span class="required text-danger" title="required">*</span></label>
                                    <input type="email" class="input-text bg-grey border-0" placeholder="Email Address">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="product-coupon p-4 border-all">
                        <h6>Please select the ticket type</h6>
                        <div class="form-order_comments">
                            <label class="">Main Event</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Adult
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                  Children(Under 12)
                                </label>
                            </div>
                            <label class="">River Cruise</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Adult
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                  Children(Under 12)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mb-4">
                    <div class="cart-collaterals p-4 border-all mb-4">
                
                        <h6 class="mb-4">Your Order</h6>
                        <table cellspacing="0" class="product-table">
                            <thead>
                                <th class="w-60 fw-normal">Product</th>
                                <th class=" fw-normal">Subtotal</th>
                            </thead>
                            <tbody>

                                <tr class="cart-subtotal border-bottom">
                                    <td class="w-60">Ticket  × 1</th>
                                    <td data-title="Subtotal"><span>$00.00</span></td>
                                </tr>

                                <tr class="order-total">
                                    <td class="w-60">Subtotal</th>
                                    <td data-title="Total"><span>$00.00</span></td>
                                </tr>
                    
                                <tr class="order-total">
                                    <td class="w-60">Total</th>
                                    <td data-title="Total"><span class="fw-bold">$00.00</span></td>
                                </tr>
                    
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="checkout-order border-all p-4">
                        <p class="mb-4">Sorry, it seems that there are no available payment methods for your state. 
                            Please contact us if you require assistance or wish to make alternate arrangements.</p>
                            <a href="#" class="nir-btn d-block mt-2">Place Order</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- error section Ends -->
    
    <!-- footer starts -->
    <footer class="pt-12 pb-7" style="background-image: url(images/pexels-sascha.jpg);">

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-5 pe-lg-4">
                    <div class="footer-about">
                        <img src="images/logo-white.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-5">
                    <div class="footer-links">
                        <h4 class="white mb-4">Quick link</h4>
                        <ul class="list">
                            <li class="pb-2"><a href="#pricing">Ticket Pricing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="footer-links">
                        <h4 class="white mb-4">get In Touch</h4>
                        <div class="footer-contact d-flex align-items-center mb-3">
                            <i class="fa fa-phone white fs-4"></i>
                            <div class="footer-contact-content ps-3">
                                <h6 class="white mb-0">+1-301-678-9995</h6>
                                <small class="white">For Information</small>
                            </div>
                        </div>
                        <div class="footer-contact d-flex align-items-center">
                            <!-- <i class="fa fa-envelope white fs-4"></i> -->
                            <div class="footer-contact-content ps-3">
                                <!-- <h6 class="white mb-0">info@St Joseph-Holy Cross Reunion.com</h6> -->
                                <!-- <small class="white">Email Address</small> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="footer-links">
                        <h4 class="white mb-4">Buy Tickets Now</h4>
                        <div class="newsletter-form ">
                            <form action="#" method="get" accept-charset="utf-8" class="border-0">
                                <button class="nir-btn w-100">Buy Tickets</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theme-overlay opacity-90"></div>
    </footer>
    <div class="footer-copyright bg-theme1">
        <div class="container">
            <p class="m-0 white text-center py-3">Copyright ©2023 St Joseph-Holy Cross Reunion. All Rights Reserved Copyright</p>
        </div>
    </div>
    <!-- footer ends -->

<!-- Back to top start -->
<div id="back-to-top">
    <a href="#"></a>
</div>
<!-- Back to top ends -->


<!-- *Scripts* -->
<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="js/custom-nav.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>

